<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    {{!-- NOte this stylesheet link will not exist if we try cntr + click...................const publicDirectoryPath = path.join(__dirname,'../public') as lik will continue from public/ --}}
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <br>
        
        <img src="/img/me.jpeg">
        <p>This Website was created by Aditya Muthal.</p>
        <p>It uses data from mapbox.com and weatherstack.com</p>
    </div>
    {{>footer}}
</body>

</html>