{{!-- This header will et directly copied to {{>header}} so carefully check the
 links as it will from the about  help and index .hbs --}}
<header>
    <h1>{{title}}</h1>
    <nav class="nav navbar-inverse">
        <ul class="nav navbar-nav">
            <li><a href="/">Weather</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </nav>
</header>